* {
  box-sizing: border-box;
}

html {
  font-size: 62.4%;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: #fff8f6;
}

.navbar a, .navbar-list a {
  text-decoration: none;
  color: #cc6d4d;
  margin: 0px;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
}

.navbar a:hover, .navbar-list a:hover {
  background-color: #eba27a;
  color: #fff;
}

.navbar {
  position: relative;
  margin: 0 auto; 
  display: inline-block;
  height: 50px;
  width: 50px;
}

nav i {
  font-size: 30px;
  color: #cc6d4d;
}

.navbar-list {
  display: none;
  list-style: none;
}

.navbar-list li {
  display: inline;
}

.navbar-list-mobile {
  list-style: none;
  display: none;
  position: absolute;
  margin: 0;
  padding: 20px;
  background: #f1f1f1;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  top: 45px;
  left: -140px;
}
.navbar:hover .navbar-list-mobile {
  display: block;
}

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  .navbar-list {
    display: inline-block;
  }

  .navbar {
    display: none; 
  }
}

header {
  background-color: #b7d7bb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header img {
  width: 200px;
}
#header-upper {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#logo {
  width: 100%;
  margin-right: auto;
}
h1#client-name {
  font-size: 3.6rem;
  color: #cc6d4d;
  text-align: left;
  flex: 1;
}

#hours {
  width: 275px;
  border: 1px solid black;
}

#hours th,#hours td {
  border: 1px solid black;
}